# Fire up Turi Create

We always start with this line before using any part of Turi Create

In [1]:
import turicreate

# Load a tabular data set

In [2]:
sf = turicreate.SFrame('../../data/people-example.csv')

Finished parsing file /home/paul/projects/coursera-machine-learning-foundations/data/people-example.csv

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Parsing completed. Parsed 7 lines in 0.031407 secs.

Finished parsing file /home/paul/projects/coursera-machine-learning-foundations/data/people-example.csv

Parsing completed. Parsed 7 lines in 0.024868 secs.

# SFrame basics

In [3]:
sf #we can view first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [ ]:
sf.tail()  # view end of the table

# Turi Create visualization

In [ ]:
# .show() visualizes any data structure in Turi Create
sf.show()

In [ ]:
sf['age'].show()

# Inspect columns of dataset

In [ ]:
sf['Country']

In [ ]:
sf['age']

Some simple columnar operations

In [ ]:
sf['age'].mean()

In [ ]:
sf['age'].max()

# Create new columns in our SFrame

In [ ]:
sf

In [ ]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [ ]:
sf

In [ ]:
sf['age'] * sf['age']

# Use the apply function to do a advance transformation of our data

In [ ]:
sf['Country']

In [ ]:
sf['Country'].show()

In [ ]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [ ]:
transform_country('Brazil')

In [ ]:
transform_country('Brasil')

In [ ]:
transform_country('USA')

In [ ]:
sf['Country'].apply(transform_country)

In [ ]:
sf['Country'] = sf['Country'].apply(transform_country)

In [ ]:
sf